USE [master]
GO
/****** Object:  Database [CampoArgentino]    Script Date: 04/10/2025 1:53:47 ******/
CREATE DATABASE [CampoArgentino]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CampoArgentino', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CampoArgentino.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CampoArgentino_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CampoArgentino_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CampoArgentino].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CampoArgentino]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[idcategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[idarticulo] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[idcategoria] [int] NOT NULL,
	[UnidadBase] [nvarchar](20) NOT NULL,
	[FactorConversion] [decimal](10, 2) NOT NULL,
	[StockMinimo] [decimal](10, 2) NOT NULL,
	[StockMaximo] [decimal](10, 2) NULL,
	[PrecioCompra] [decimal](18, 2) NOT NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[IVA] [decimal](5, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
	[StockActual] [decimal](10, 2) NOT NULL,
	[idpresentacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idarticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ArticulosActivos]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[vw_ArticulosActivos]
    AS
    SELECT a.idarticulo, a.Codigo, a.Nombre, a.Descripcion, c.Nombre as Categoria,
           a.PrecioVenta, a.StockMinimo, a.StockMaximo, a.Activo
    FROM Articulo a
    INNER JOIN Categoria c ON a.idcategoria = c.idcategoria
    WHERE a.Activo = 1
    
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idcliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CUIT] [nvarchar](20) NULL,
	[Direccion] [nvarchar](255) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ClientesActivos]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- ACTUALIZAR VISTAS QUE USAN NOMBRES ANTIGUOS
-- =============================================

CREATE VIEW [dbo].[vw_ClientesActivos]
AS
    SELECT idcliente, Nombre, CUIT, Direccion, Telefono, Email
    FROM Cliente
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[idproveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CUIT] [nvarchar](20) NULL,
	[Direccion] [nvarchar](255) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idproveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProveedoresActivos]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ProveedoresActivos]
AS
    SELECT idproveedor, Nombre, CUIT, Direccion, Telefono, Email
    FROM Proveedor
GO
/****** Object:  Table [dbo].[ConteoInventario]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConteoInventario](
	[idconteo] [int] IDENTITY(1,1) NOT NULL,
	[FechaConteo] [datetime] NOT NULL,
	[idusuario] [int] NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[Estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idconteo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConteoInventarioDetalle]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConteoInventarioDetalle](
	[iddetalle] [int] IDENTITY(1,1) NOT NULL,
	[idconteo] [int] NOT NULL,
	[idarticulo] [int] NOT NULL,
	[StockSistema] [decimal](10, 2) NOT NULL,
	[StockFisico] [decimal](10, 2) NOT NULL,
	[Diferencia] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iddetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingreso]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingreso](
	[idingreso] [int] IDENTITY(1,1) NOT NULL,
	[NumeroDocumento] [nvarchar](50) NOT NULL,
	[idproveedor] [int] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Impuestos] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[idusuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idingreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presentacion]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presentacion](
	[idpresentacion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idpresentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idusuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[idventa] [int] IDENTITY(1,1) NOT NULL,
	[NumeroDocumento] [nvarchar](50) NOT NULL,
	[idcliente] [int] NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Impuestos] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[idusuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idventa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Articulo_Categoria]    Script Date: 04/10/2025 1:53:48 ******/
CREATE NONCLUSTERED INDEX [IX_Articulo_Categoria] ON [dbo].[Articulo]
(
	[idcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Articulo_Codigo]    Script Date: 04/10/2025 1:53:48 ******/
CREATE NONCLUSTERED INDEX [IX_Articulo_Codigo] ON [dbo].[Articulo]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Articulo_Nombre]    Script Date: 04/10/2025 1:53:48 ******/
CREATE NONCLUSTERED INDEX [IX_Articulo_Nombre] ON [dbo].[Articulo]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Productos_Codigo]    Script Date: 04/10/2025 1:53:48 ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Codigo] ON [dbo].[Articulo]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Compras_Fecha]    Script Date: 04/10/2025 1:53:48 ******/
CREATE NONCLUSTERED INDEX [IX_Compras_Fecha] ON [dbo].[Ingreso]
(
	[FechaCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ingreso_FechaCompra]    Script Date: 04/10/2025 1:53:48 ******/
CREATE NONCLUSTERED INDEX [IX_Ingreso_FechaCompra] ON [dbo].[Ingreso]
(
	[FechaCompra] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ingreso_idproveedor]    Script Date: 04/10/2025 1:53:48 ******/
CREATE NONCLUSTERED INDEX [IX_Ingreso_idproveedor] ON [dbo].[Ingreso]
(
	[idproveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_NombreUsuario]    Script Date: 04/10/2025 1:53:48 ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_NombreUsuario] ON [dbo].[Usuario]
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Venta_FechaVenta]    Script Date: 04/10/2025 1:53:48 ******/
CREATE NONCLUSTERED INDEX [IX_Venta_FechaVenta] ON [dbo].[Venta]
(
	[FechaVenta] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Venta_idcliente]    Script Date: 04/10/2025 1:53:48 ******/
CREATE NONCLUSTERED INDEX [IX_Venta_idcliente] ON [dbo].[Venta]
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_Fecha]    Script Date: 04/10/2025 1:53:48 ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_Fecha] ON [dbo].[Venta]
(
	[FechaVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulo] ADD  DEFAULT ((1)) FOR [FactorConversion]
GO
ALTER TABLE [dbo].[Articulo] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Articulo] ADD  DEFAULT ((0)) FOR [IVA]
GO
ALTER TABLE [dbo].[Articulo] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Articulo] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[ConteoInventario] ADD  DEFAULT ('PENDIENTE') FOR [Estado]
GO
ALTER TABLE [dbo].[Ingreso] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Presentacion] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD  CONSTRAINT [FK_Articulo_Categoria] FOREIGN KEY([idcategoria])
REFERENCES [dbo].[Categoria] ([idcategoria])
GO
ALTER TABLE [dbo].[Articulo] CHECK CONSTRAINT [FK_Articulo_Categoria]
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD  CONSTRAINT [FK_Articulo_Presentacion] FOREIGN KEY([idpresentacion])
REFERENCES [dbo].[Presentacion] ([idpresentacion])
GO
ALTER TABLE [dbo].[Articulo] CHECK CONSTRAINT [FK_Articulo_Presentacion]
GO
ALTER TABLE [dbo].[ConteoInventario]  WITH CHECK ADD  CONSTRAINT [FK_ConteoInventario_idusuario] FOREIGN KEY([idusuario])
REFERENCES [dbo].[Usuario] ([idusuario])
GO
ALTER TABLE [dbo].[ConteoInventario] CHECK CONSTRAINT [FK_ConteoInventario_idusuario]
GO
ALTER TABLE [dbo].[ConteoInventarioDetalle]  WITH CHECK ADD  CONSTRAINT [FK_ConteoInventarioDetalle_idarticulo] FOREIGN KEY([idarticulo])
REFERENCES [dbo].[Articulo] ([idarticulo])
GO
ALTER TABLE [dbo].[ConteoInventarioDetalle] CHECK CONSTRAINT [FK_ConteoInventarioDetalle_idarticulo]
GO
ALTER TABLE [dbo].[ConteoInventarioDetalle]  WITH CHECK ADD  CONSTRAINT [FK_ConteoInventarioDetalle_idconteo] FOREIGN KEY([idconteo])
REFERENCES [dbo].[ConteoInventario] ([idconteo])
GO
ALTER TABLE [dbo].[ConteoInventarioDetalle] CHECK CONSTRAINT [FK_ConteoInventarioDetalle_idconteo]
GO
ALTER TABLE [dbo].[Ingreso]  WITH CHECK ADD  CONSTRAINT [FK_Ingreso_idproveedor] FOREIGN KEY([idproveedor])
REFERENCES [dbo].[Proveedor] ([idproveedor])
GO
ALTER TABLE [dbo].[Ingreso] CHECK CONSTRAINT [FK_Ingreso_idproveedor]
GO
ALTER TABLE [dbo].[Ingreso]  WITH CHECK ADD  CONSTRAINT [FK_Ingreso_idusuario] FOREIGN KEY([idusuario])
REFERENCES [dbo].[Usuario] ([idusuario])
GO
ALTER TABLE [dbo].[Ingreso] CHECK CONSTRAINT [FK_Ingreso_idusuario]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([idcliente])
REFERENCES [dbo].[Cliente] ([idcliente])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([idusuario])
REFERENCES [dbo].[Usuario] ([idusuario])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_idcliente] FOREIGN KEY([idcliente])
REFERENCES [dbo].[Cliente] ([idcliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_idcliente]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_idusuario] FOREIGN KEY([idusuario])
REFERENCES [dbo].[Usuario] ([idusuario])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_idusuario]
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_ActualizarStock]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para actualizar stock individual (rápido)
CREATE PROCEDURE [dbo].[spCampoArgentino_ActualizarStock]
    @idarticulo INT,
    @NuevoStock DECIMAL(10,2)
AS
BEGIN
    UPDATE dbo.Articulo 
    SET StockActual = @NuevoStock 
    WHERE idarticulo = @idarticulo;
    
    SELECT 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_AgregarDetalleConteo]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para agregar detalle de conteo
CREATE PROCEDURE [dbo].[spCampoArgentino_AgregarDetalleConteo]
    @idconteo INT,
    @idarticulo INT,
    @StockFisico DECIMAL(10,2)
AS
BEGIN
    DECLARE @StockSistema DECIMAL(10,2);
    
    SELECT @StockSistema = StockActual 
    FROM dbo.Articulo 
    WHERE idarticulo = @idarticulo;
    
    INSERT INTO dbo.ConteoInventarioDetalle 
        (idconteo, idarticulo, StockSistema, StockFisico, Diferencia)
    VALUES 
        (@idconteo, @idarticulo, @StockSistema, @StockFisico, @StockFisico - @StockSistema);
        
    SELECT 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_BuscarArticuloNombre]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para buscar artículo por nombre
CREATE   PROCEDURE [dbo].[spCampoArgentino_BuscarArticuloNombre]
    @textobuscar VARCHAR(100)
AS 
BEGIN
    SELECT a.*, c.nombre as categoria 
    FROM Articulo a 
    INNER JOIN Categoria c ON a.idcategoria = c.idcategoria
    WHERE a.nombre LIKE '%' + @textobuscar + '%' AND a.activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_BuscarCategoriaNombre]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para buscar categoría por nombre
CREATE   PROCEDURE [dbo].[spCampoArgentino_BuscarCategoriaNombre]
    @textobuscar VARCHAR(50)
AS 
BEGIN
    SELECT idcategoria, nombre, descripcion 
    FROM Categoria
    WHERE nombre LIKE '%' + @textobuscar + '%'
    ORDER BY nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_BuscarClienteNombre]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_BuscarClienteNombre]
    @Nombre NVARCHAR(100)
AS
BEGIN
    SELECT idcliente, Nombre, CUIT, Direccion, Telefono, Email
    FROM dbo.Cliente
    WHERE Nombre LIKE '%' + @Nombre + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_BuscarIngresoFechas]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- ACTUALIZAR SPs DE BÚSQUEDA - SIN DETALLES
-- =============================================

CREATE PROCEDURE [dbo].[spCampoArgentino_BuscarIngresoFechas]
    @FechaInicio NVARCHAR(50),
    @FechaFin NVARCHAR(50)
AS
BEGIN
    SELECT I.idingreso, I.NumeroDocumento, P.Nombre as Proveedor, I.FechaCompra, 
           I.Subtotal, I.Impuestos, I.Total, I.Observaciones, U.NombreCompleto as Usuario
    FROM dbo.Ingreso I
    INNER JOIN dbo.Proveedor P ON I.ProveedorID = P.idproveedor
    INNER JOIN dbo.Usuario U ON I.UsuarioID = U.idusuario
    WHERE CONVERT(DATE, I.FechaCompra) BETWEEN @FechaInicio AND @FechaFin
    ORDER BY I.FechaCompra DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_BuscarProveedorNombre]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_BuscarProveedorNombre]
    @Nombre NVARCHAR(100)
AS
BEGIN
    SELECT idproveedor, Nombre, CUIT, Direccion, Telefono, Email
    FROM dbo.Proveedor
    WHERE Nombre LIKE '%' + @Nombre + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_BuscarUsuarioApellidos]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_BuscarUsuarioApellidos]
    @NombreCompleto NVARCHAR(100)
AS
BEGIN
    SELECT idusuario, NombreUsuario, NombreCompleto, Activo, FechaCreacion
    FROM dbo.Usuario
    WHERE NombreCompleto LIKE '%' + @NombreCompleto + '%' AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_BuscarUsuarioDocumentoFecha]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_BuscarUsuarioDocumentoFecha]
    @NombreCompleto NVARCHAR(100),
    @FechaInicio DATETIME,
    @FechaFin DATETIME
AS
BEGIN
    SELECT U.idusuario, U.NombreUsuario, U.NombreCompleto, U.Activo, U.FechaCreacion
    FROM dbo.Usuario U
    WHERE U.NombreCompleto LIKE '%' + @NombreCompleto + '%' 
    AND U.Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_BuscarUsuarioNombre]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_BuscarUsuarioNombre]
    @Nombre NVARCHAR(100)
AS
BEGIN
    SELECT idusuario, NombreUsuario, NombreCompleto, Activo, FechaCreacion
    FROM dbo.Usuario
    WHERE NombreCompleto LIKE '%' + @Nombre + '%' AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_CambiarContrasena]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_CambiarContrasena]
    @idusuario INT,
    @NuevaContrasena NVARCHAR(255)
AS
BEGIN
    UPDATE dbo.Usuario 
    SET Contrasena = @NuevaContrasena
    WHERE idusuario = @idusuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_EditarArticulo]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCampoArgentino_EditarArticulo]
    @idarticulo INT,
    @idcategoria INT,
    @idpresentacion INT,
    @codigo VARCHAR(50),
    @nombre VARCHAR(100),
    @descripcion VARCHAR(255),
    @unidadbase VARCHAR(50),
    @factorconversion DECIMAL(11,2),
    @stockminimo DECIMAL(11,2),
    @stockmaximo DECIMAL(11,2),
    @preciocompra DECIMAL(11,2),
    @precioventa DECIMAL(11,2),
    @iva DECIMAL(4,2),
    @activo BIT
AS 
BEGIN
    UPDATE Articulo SET 
        idcategoria = @idcategoria,
        idpresentacion = @idpresentacion,
        codigo = @codigo,
        nombre = @nombre,
        descripcion = @descripcion,
        unidadbase = @unidadbase,
        factorconversion = @factorconversion,
        stockminimo = @stockminimo,
        stockmaximo = @stockmaximo,
        preciocompra = @preciocompra,
        precioventa = @precioventa,
        iva = @iva,
        activo = @activo
    WHERE idarticulo = @idarticulo;
    
    SELECT 'OK';
END
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_EditarCategoria]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para editar categoría
CREATE   PROCEDURE [dbo].[spCampoArgentino_EditarCategoria]
    @idcategoria INT,
    @nombre VARCHAR(50),
    @descripcion VARCHAR(255)
AS 
BEGIN
    UPDATE Categoria SET 
        nombre = @nombre,
        descripcion = @descripcion
    WHERE idcategoria = @idcategoria;
    SELECT 'OK';
END
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_EditarUsuario]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_EditarUsuario]
    @idusuario INT,
    @NombreUsuario NVARCHAR(50),
    @Contrasena NVARCHAR(255) = NULL,
    @NombreCompleto NVARCHAR(100),
    @Activo BIT
AS
BEGIN
    IF @Contrasena IS NULL
    BEGIN
        UPDATE dbo.Usuario 
        SET NombreUsuario = @NombreUsuario,
            NombreCompleto = @NombreCompleto,
            Activo = @Activo
        WHERE idusuario = @idusuario;
    END
    ELSE
    BEGIN
        UPDATE dbo.Usuario 
        SET NombreUsuario = @NombreUsuario,
            Contrasena = @Contrasena,
            NombreCompleto = @NombreCompleto,
            Activo = @Activo
        WHERE idusuario = @idusuario;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_EliminarArticulo]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para eliminar artículo
CREATE   PROCEDURE [dbo].[spCampoArgentino_EliminarArticulo]
    @idarticulo INT
AS 
BEGIN
    DELETE FROM Articulo WHERE idarticulo = @idarticulo;
    SELECT 'OK';
END
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_EliminarCategoria]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para eliminar categoría
CREATE   PROCEDURE [dbo].[spCampoArgentino_EliminarCategoria]
    @idcategoria INT
AS 
BEGIN
    -- Verificar si hay artículos asociados a esta categoría
    IF EXISTS (SELECT 1 FROM Articulo WHERE idcategoria = @idcategoria)
    BEGIN
        SELECT 'No se puede eliminar la categoría porque tiene artículos asociados';
        RETURN;
    END
    
    DELETE FROM Categoria WHERE idcategoria = @idcategoria;
    SELECT 'OK';
END
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_EliminarUsuario]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_EliminarUsuario]
    @idusuario INT
AS
BEGIN
    UPDATE dbo.Usuario 
    SET Activo = 0 
    WHERE idusuario = @idusuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_IniciarConteoInventario]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para iniciar un nuevo conteo
CREATE PROCEDURE [dbo].[spCampoArgentino_IniciarConteoInventario]
    @idusuario INT,
    @Observaciones NVARCHAR(500) = NULL
AS
BEGIN
    INSERT INTO dbo.ConteoInventario (FechaConteo, idusuario, Observaciones, Estado)
    VALUES (GETDATE(), @idusuario, @Observaciones, 'PENDIENTE');
    
    SELECT SCOPE_IDENTITY() AS idconteo;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_InsertarArticulo]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCampoArgentino_InsertarArticulo]
    @idcategoria INT,
    @idpresentacion INT,
    @codigo VARCHAR(50),
    @nombre VARCHAR(100),
    @descripcion VARCHAR(255),
    @unidadbase VARCHAR(50),
    @factorconversion DECIMAL(11,2),
    @stockminimo DECIMAL(11,2),
    @stockmaximo DECIMAL(11,2),
    @preciocompra DECIMAL(11,2),
    @precioventa DECIMAL(11,2),
    @iva DECIMAL(4,2),
    @activo BIT
AS 
BEGIN
    INSERT INTO Articulo (idcategoria, idpresentacion, codigo, nombre, descripcion, 
                         unidadbase, factorconversion, stockminimo, stockmaximo, 
                         preciocompra, precioventa, iva, activo, StockActual)
    VALUES (@idcategoria, @idpresentacion, @codigo, @nombre, @descripcion, 
            @unidadbase, @factorconversion, @stockminimo, @stockmaximo,
            @preciocompra, @precioventa, @iva, @activo, 0); -- StockActual inicia en 0
    
    SELECT 'OK';
END
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_InsertarCategoria]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP para insertar categoría
CREATE   PROCEDURE [dbo].[spCampoArgentino_InsertarCategoria]
    @nombre VARCHAR(50),
    @descripcion VARCHAR(255)
AS 
BEGIN
    INSERT INTO Categoria (nombre, descripcion)
    VALUES (@nombre, @descripcion);
    SELECT 'OK';
END
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_InsertarCliente]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- ACTUALIZAR SPs DE CLIENTE
-- =============================================

CREATE PROCEDURE [dbo].[spCampoArgentino_InsertarCliente]
    @Nombre NVARCHAR(100),
    @CUIT NVARCHAR(20),
    @Direccion NVARCHAR(255) = NULL,
    @Telefono NVARCHAR(20) = NULL,
    @Email NVARCHAR(100) = NULL
AS
BEGIN
    INSERT INTO dbo.Cliente (Nombre, CUIT, Direccion, Telefono, Email)
    VALUES (@Nombre, @CUIT, @Direccion, @Telefono, @Email);
    
    SELECT SCOPE_IDENTITY() AS idcliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_InsertarIngreso]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- ACTUALIZAR SPs DE INGRESO (COMPRAS) - SIN DETALLES
-- =============================================

CREATE PROCEDURE [dbo].[spCampoArgentino_InsertarIngreso]
    @NumeroDocumento NVARCHAR(50),
    @idproveedor INT,
    @FechaCompra DATETIME,
    @Subtotal DECIMAL(18,2),
    @Impuestos DECIMAL(18,2),
    @Total DECIMAL(18,2),
    @Observaciones NVARCHAR(500) = NULL,
    @idusuario INT
AS
BEGIN
    INSERT INTO dbo.Ingreso (NumeroDocumento, ProveedorID, FechaCompra, FechaRegistro, Subtotal, Impuestos, Total, Observaciones, UsuarioID)
    VALUES (@NumeroDocumento, @idproveedor, @FechaCompra, GETDATE(), @Subtotal, @Impuestos, @Total, @Observaciones, @idusuario);
    
    SELECT SCOPE_IDENTITY() AS idingreso;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_InsertarProveedor]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- ACTUALIZAR SPs DE PROVEEDOR
-- =============================================

CREATE PROCEDURE [dbo].[spCampoArgentino_InsertarProveedor]
    @Nombre NVARCHAR(100),
    @CUIT NVARCHAR(20),
    @Direccion NVARCHAR(255) = NULL,
    @Telefono NVARCHAR(20) = NULL,
    @Email NVARCHAR(100) = NULL
AS
BEGIN
    INSERT INTO dbo.Proveedor (Nombre, CUIT, Direccion, Telefono, Email)
    VALUES (@Nombre, @CUIT, @Direccion, @Telefono, @Email);
    
    SELECT SCOPE_IDENTITY() AS idproveedor;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_InsertarUsuario]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- ACTUALIZAR SPs DE USUARIO
-- =============================================

CREATE PROCEDURE [dbo].[spCampoArgentino_InsertarUsuario]
    @NombreUsuario NVARCHAR(50),
    @Contrasena NVARCHAR(255),
    @NombreCompleto NVARCHAR(100)
AS
BEGIN
    INSERT INTO dbo.Usuario (NombreUsuario, Contrasena, NombreCompleto, Activo, FechaCreacion)
    VALUES (@NombreUsuario, @Contrasena, @NombreCompleto, 1, GETDATE());
    
    SELECT SCOPE_IDENTITY() AS idusuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_InsertarVenta]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- ACTUALIZAR SPs DE VENTA - SIN DETALLES
-- =============================================

CREATE PROCEDURE [dbo].[spCampoArgentino_InsertarVenta]
    @NumeroDocumento NVARCHAR(50),
    @idcliente INT,
    @FechaVenta DATETIME,
    @Subtotal DECIMAL(18,2),
    @Impuestos DECIMAL(18,2),
    @Total DECIMAL(18,2),
    @Observaciones NVARCHAR(500) = NULL,
    @idusuario INT
AS
BEGIN
    INSERT INTO dbo.Venta (NumeroDocumento, ClienteID, FechaVenta, FechaRegistro, Subtotal, Impuestos, Total, Observaciones, UsuarioID)
    VALUES (@NumeroDocumento, @idcliente, @FechaVenta, GETDATE(), @Subtotal, @Impuestos, @Total, @Observaciones, @idusuario);
    
    SELECT SCOPE_IDENTITY() AS idventa;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_Login]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_Login]
    @NombreUsuario NVARCHAR(50),
    @Contrasena NVARCHAR(255)
AS
BEGIN
    SELECT idusuario, NombreUsuario, Contrasena, NombreCompleto, Activo, FechaCreacion
    FROM dbo.Usuario
    WHERE NombreUsuario = @NombreUsuario AND Contrasena = @Contrasena AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_MostrarArticulo]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCampoArgentino_MostrarArticulo]
AS 
BEGIN
    SELECT 
        a.idarticulo,
        a.codigo,
        a.nombre,
        a.descripcion,
        a.idcategoria,
        c.nombre as categoria,
        a.idpresentacion,
        p.Nombre as presentacion,
        a.unidadbase,
        a.factorconversion,
        a.stockminimo,
        a.stockmaximo,
        a.StockActual,
        a.preciocompra,
        a.precioventa,
        a.iva,
        a.activo
    FROM Articulo a 
    INNER JOIN Categoria c ON a.idcategoria = c.idcategoria
    LEFT JOIN Presentacion p ON a.idpresentacion = p.idpresentacion
    WHERE a.activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_MostrarCategoria]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para mostrar categorías
CREATE   PROCEDURE [dbo].[spCampoArgentino_MostrarCategoria]
AS 
BEGIN
    SELECT idcategoria, nombre, descripcion 
    FROM Categoria
    ORDER BY nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_MostrarCliente]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_MostrarCliente]
AS
BEGIN
    SELECT idcliente, Nombre, CUIT, Direccion, Telefono, Email
    FROM dbo.Cliente
    ORDER BY Nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_MostrarIngreso]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCampoArgentino_MostrarIngreso]
AS
BEGIN
    SELECT 
        I.idingreso,
        I.NumeroDocumento, 
        I.idproveedor,  -- ← Asegúrate de incluir esta columna
        P.Nombre as Proveedor, 
        I.FechaCompra, 
        I.Subtotal, 
        I.Impuestos, 
        I.Total, 
        I.Observaciones, 
        U.NombreCompleto as Usuario
    FROM dbo.Ingreso I
    INNER JOIN dbo.Proveedor P ON I.idproveedor = P.idproveedor
    INNER JOIN dbo.Usuario U ON I.idusuario = U.idusuario
    ORDER BY I.FechaCompra DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_MostrarProveedor]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_MostrarProveedor]
AS
BEGIN
    SELECT idproveedor, Nombre, CUIT, Direccion, Telefono, Email
    FROM dbo.Proveedor
    ORDER BY Nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_MostrarUsuario]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_MostrarUsuario]
AS
BEGIN
    SELECT idusuario, NombreUsuario, NombreCompleto, Activo, FechaCreacion
    FROM dbo.Usuario
    WHERE Activo = 1
    ORDER BY NombreCompleto;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_MostrarVenta]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_MostrarVenta]
AS
BEGIN
    SELECT V.idventa, V.NumeroDocumento, C.Nombre as Cliente, V.FechaVenta, 
           V.Subtotal, V.Impuestos, V.Total, V.Observaciones, U.NombreCompleto as Usuario
    FROM dbo.Venta V
    INNER JOIN dbo.Cliente C ON V.ClienteID = C.idcliente
    INNER JOIN dbo.Usuario U ON V.UsuarioID = U.idusuario
    ORDER BY V.FechaVenta DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_ObtenerDetalleConteo]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para obtener detalles de un conteo
CREATE PROCEDURE [dbo].[spCampoArgentino_ObtenerDetalleConteo]
    @idconteo INT
AS
BEGIN
    SELECT 
        CID.iddetalle,
        CID.idarticulo,
        A.Codigo,
        A.Nombre,
        CID.StockSistema,
        CID.StockFisico,
        CID.Diferencia,
        CASE 
            WHEN CID.Diferencia > 0 THEN 'SOBRANTE'
            WHEN CID.Diferencia < 0 THEN 'FALTANTE'
            ELSE 'CORRECTO'
        END as TipoDiferencia
    FROM dbo.ConteoInventarioDetalle CID
    INNER JOIN dbo.Articulo A ON CID.idarticulo = A.idarticulo
    WHERE CID.idconteo = @idconteo
    ORDER BY ABS(CID.Diferencia) DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_ObtenerUsuarioPorID]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_ObtenerUsuarioPorID]
    @idusuario INT
AS
BEGIN
    SELECT idusuario, NombreUsuario, NombreCompleto, Activo, FechaCreacion
    FROM dbo.Usuario
    WHERE idusuario = @idusuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_ProcesarConteo]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP para procesar conteo y actualizar stocks
CREATE PROCEDURE [dbo].[spCampoArgentino_ProcesarConteo]
    @idconteo INT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Actualizar stocks con las diferencias
        UPDATE A
        SET A.StockActual = CID.StockFisico
        FROM dbo.Articulo A
        INNER JOIN dbo.ConteoInventarioDetalle CID ON A.idarticulo = CID.idarticulo
        WHERE CID.idconteo = @idconteo;
        
        -- Marcar conteo como procesado
        UPDATE dbo.ConteoInventario 
        SET Estado = 'PROCESADO' 
        WHERE idconteo = @idconteo;
        
        COMMIT TRANSACTION;
        SELECT 'OK';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_ReporteConteoInventario]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP para obtener reporte de stocks para conteo
CREATE PROCEDURE [dbo].[spCampoArgentino_ReporteConteoInventario]
AS
BEGIN
    SELECT 
        A.idarticulo,
        A.Codigo,
        A.Nombre,
        C.Nombre as Categoria,
        A.StockActual as StockSistema,
        A.StockMinimo,
        A.StockMaximo,
        A.UnidadBase,
        CASE 
            WHEN A.StockActual <= A.StockMinimo THEN 'STOCK BAJO'
            WHEN A.StockActual >= ISNULL(A.StockMaximo, A.StockActual + 1) THEN 'STOCK ALTO'
            ELSE 'NORMAL'
        END as EstadoStock
    FROM dbo.Articulo A
    INNER JOIN dbo.Categoria C ON A.idcategoria = C.idcategoria
    WHERE A.Activo = 1
    ORDER BY C.Nombre, A.Nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_ReporteFactura]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- ACTUALIZAR SPs DE REPORTE FACTURA - SIN DETALLES
-- =============================================

CREATE PROCEDURE [dbo].[spCampoArgentino_ReporteFactura]
    @idventa INT
AS
BEGIN
    -- Solo cabecera de la venta (sin detalles)
    SELECT V.idventa, V.NumeroDocumento, V.FechaVenta, V.Subtotal, V.Impuestos, V.Total, V.Observaciones,
           C.Nombre as Cliente, C.CUIT, C.Direccion, C.Telefono,
           U.NombreCompleto as Vendedor
    FROM dbo.Venta V
    INNER JOIN dbo.Cliente C ON V.ClienteID = C.idcliente
    INNER JOIN dbo.Usuario U ON V.UsuarioID = U.idusuario
    WHERE V.idventa = @idventa;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_StockArticulos]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- ACTUALIZAR SPs DE STOCK
-- =============================================

CREATE PROCEDURE [dbo].[spCampoArgentino_StockArticulos]
AS
BEGIN
    SELECT A.idarticulo, A.Codigo, A.Nombre, C.Nombre as Categoria,
           A.PrecioVenta, A.StockMinimo, A.StockMaximo,
           CASE 
               WHEN A.Activo = 0 THEN 'INACTIVO'
               ELSE 'ACTIVO'
           END as EstadoProducto
    FROM dbo.Articulo A
    INNER JOIN dbo.Categoria C ON A.idcategoria = C.idcategoria
    WHERE A.Activo = 1
    ORDER BY A.Nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCampoArgentino_VerificarUsuarioUnico]    Script Date: 04/10/2025 1:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCampoArgentino_VerificarUsuarioUnico]
    @NombreUsuario NVARCHAR(50),
    @idusuario INT = NULL
AS
BEGIN
    IF @idusuario IS NULL
    BEGIN
        SELECT COUNT(*) as Existe
        FROM dbo.Usuario
        WHERE NombreUsuario = @NombreUsuario AND Activo = 1;
    END
    ELSE
    BEGIN
        SELECT COUNT(*) as Existe
        FROM dbo.Usuario
        WHERE NombreUsuario = @NombreUsuario AND idusuario != @idusuario AND Activo = 1;
    END
END;
GO
USE [master]
GO
